* {
    box-sizing: border-box;
  }
  
  body {
    margin: 28px;
    background-color: #2f2e2e;
    text-align: center;
  }
  /* Style the header */
  .header {
    background-color: #2f2e2e;
    padding: 20px;
    text-align: center;
    font-size: 45px;
    
  }

  
  img { 
    width: 100%;
    height: auto;
    
  }
  div legenda{
    color:white
  }
  
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden ;
    background-color: #060606;
    padding: 28px 28px;
    font-size: 50px;
  
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #61e161;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    font-size: 60px;
    
  }
  
  /* Middle column */
  .column.middle {
    width: 25%;
    font-size: 60px;
    
  }
  .column  {
    width: 25%;
    font-size: 60px;
    
  }
  h2 , h4{
     color: #02a702;
     
  }
  p{
    color:aliceblue
  }
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  
  /* Style the footer */
  .footer {
    background-color:  #555755;
    padding: 10px;
    text-align: center;
    text-emphasis: none;

  }
  div.gallery{
    border: 15px solid #3e3e3e;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    
    
}

div.gallery:hover {
  border: 40px solid #42c131;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: rgb(48, 47, 47); color:white;
  
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  text-align: center;
}
.button {
  background-color: #e42792; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 40px 40px;
  cursor: pointer;
  
}

.button2 {background-color: #008CBA;} 
.button3 {background-color: #f44336;} 
.button4 {background-color: #e7e7e7; color: black;}  
.button5 {background-color: #b227b5;
} 

.button:hover {
  background-color: #1fe026;
}